{% include partials/header.html %}

<h1 class="display-5 mb-3 text-break">
    Important dates
</h1>

<li class="mb-1">
    <b>{{site.data.dates.abstract_writing_workshop}}</b>: Abstract writing workshop 
</li>
<li class="mb-1">
    <b>{{site.data.dates.abstract_submission_deadline}}</b>: Abstract submission deadline 
</li>
<li class="mb-1">
    <b>{{site.data.dates.abstract_notification}}</b>: Notification of abstract acceptance
</li>
<li class="mb-1">
    <b>{{site.data.dates.conference_programme_available}}</b>: Conference programme available online
</li>
<li class="mb-1">
    <b>{{site.data.dates.paper_writing_workshop}}</b>: Scientific paper writing workshop 
</li>
<li class="mb-1">
    <b>{{site.data.dates.paper_submission_deadline}}</b>: Scientific paper submission deadline 
</li>
<li class="mb-1">
    <b>{{site.data.dates.poster_submission_deadline}}</b>: Poster submission deadline
</li>
<li class="mb-4">
    <b>{{site.data.dates.conference_day}}</b>: Conference day
</li>


<h1 class="display-5 mb-3 text-break">
    CES submission guidelines
</h1>

<h3 class="font-weight-light mb-2 text-break">
    Abstract
</h3>
<p>Note the abstract should be written in Markdown format (extension .md). A markdown file is simply a text file that can be opened in any text editor. When submitting your abstract please make sure to name the file as your group email <b><i>[group-number].md</i></b>, e.g. <i>et-23-tepe-1-700.md</i>. If in doubt talk to the study secretary. Guidelines are written in the template.</p>

<p class="content"><a target="_blank" href="{{ site.tree_url | append: site.abstract_template | append: '/' | append: '?download='}}" download rel="noreferrer">Download abstract template</a></p>
<p class="content"><a target="_blank" href="{{ site.tree_url | append: site.abstract_template | append: '/' | append: '?download='}}" download rel="noreferrer">Link to abstract submission</a></p>

<h3 class="font-weight-light mb-2 text-break">
    Scientific paper
</h3>
<p>The scientific paper is available on Overleaf. To make a copy of the template, go to <i>Menu</i> and <i>Copy Project</i>. Guidelines are written in the template.</p>

<p class="content"><a target="_blank" href="https://www.overleaf.com/read/zjgpfdssnsty#6329cb" download rel="noreferrer">Download scientific paper template on Overleaf</a></p>

<h3 class="font-weight-light mb-2 text-break">
    Poster
</h3>
<p> Guidelines are written in the template.</p>
<p class="content"><a target="_blank" href="{{ site.tree_url | append: site.poster_template | append: '/' | append: '?download='}}" download rel="noreferrer">Download poster template</a></p>